body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

#game button {
    padding: 10px;
    margin: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#game button:hover {
    background-color: #0056b3;
}

/* Исправляем размер картинок */
#game button img {
    width: 50px; /* Устанавливаем ширину картинки */
    height: 50px; /* Устанавливаем высоту картинки */
    display: block; /* Убираем лишние отступы */
}

#result {
    font-size: 20px;
    margin-top: 20px;
}

/* Адаптация для Telegram */
html, body {
    height: 100%;
    overflow: auto;
}
